version: "3.9"

services:
  user-service:
    build: ./user-service
    ports:
      - "5001:5001"
    container_name: user-service

  task-service:
    build: ./task-service
    ports:
      - "5002:5002"
    container_name: task-service
